<body>
    <div class="container-fluid text-white topChart">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand logo  text-white" href="#">
                <img src="../assets/images/acheron logo.png" class="border rounded-circle  mr-3" style="width: 50px;height: 50px;">
                <strong>Published Media</strong>
            </a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav col-lg-5">
                    <li></li>
                </ul>
                <ul class="navbar-nav col-lg-3">
                    <div class="input-group ">
                        <input class="form-control" type="text" id="myInput" (keyup)="onsearch()" [(ngModel)]="ser" placeholder="Search....">
                        <span class="input-group-append">
                            <button class="btn btn-outline-light" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </ul>
                <ul class="navbar-nav serch">
                    <li>
                        <button class="btn btn-light " id="file" routerLink='/upload'>
                            <i class="fa fa-upload text-dark" aria-hidden="true"> </i> Upload Files</button>
                        <!-- <button class="btn btn-primary mt-" id="file" routerLink='/upload'>FileUpload</button> -->
                    </li>
                </ul>
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <img src="../../assets/images/user.svg" style="width:100px;height:50px;" class="img-fluid user" (click)="toggleShow()">
                    </li>
                    <li class="nav-item" *ngIf="show">
                        <div class="row">
                            <a class="text-white ml-3" id="logOut" routerLink=''>{{varlog}}</a>
                            <a class="text-white ml-3" id="logOut"  (click)="onlogout()" cursor= pointer>Log Out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
    <div class="container-fluid">
        <div class="col-lg-12">
            <div class="row">
                <div class="offset-lg-10 col-lg-2 py-2">

                    <i class="fa fa-refresh mx-3 text-primary" aria-hidden="true" (click)="re()"></i>

                    <i class="fa fa-th-large mx-3 " aria-hidden="true" (click)="gridList()" [class.active]="isActive"></i>

                    <i class="fa fa-th mx-3" aria-hidden="true" (click)="gridList2()" [class.active]="isActive1"></i>

                    <i class="fa fa-filter mx-3  text-primary" aria-hidden="true"></i>

                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3 bg-white mt-3 w-100">
                    <form class="w-100" [formGroup]="myFrom">
                        <div class="form-group">
                            <label for="filters">
                                <h5>FILTERS
                                    <span class="text-primary" *ngIf="imgshow||imgshow1">({{filters.length}})</span>
                                    <span class="text-primary" *ngIf="imgshow2">({{filt.length}})</span>
                                    <!-- <span class="text-primary" *ngIf="!imgshow2">({{myArray1.length}})</span> -->


                                </h5>
                            </label>

                            <div class="row" *ngFor="let q of myArray">
                                <div class="btnCus text-white text-center col-lg-5">{{q}}
                                    <i class="fa fa-times-circle pl-2" (click)="close(q)"></i>
                                </div>
                            </div>

                            <div class="row" *ngFor="let q of myArray1">
                                <div class="btnCus text-white text-center col-lg-5">{{q}}
                                    <i class="fa fa-times-circle pl-2" (click)="close1(q)"></i>
                                </div>
                            </div>

                            <div class="row" *ngFor="let q of myArray2">
                                <div class="btnCus text-white text-center col-lg-5">{{q}}
                                    <i class="fa fa-times-circle pl-2" (click)="close2(q)"></i>
                                </div>
                            </div>

                        </div>

                        <div class="form-group w-100">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="exampleInputEmail1">
                                        <h6>
                                            <b>Country</b>
                                        </h6>
                                    </label>
                                </div>

                                <div class="col-md-6" (click)="toggle1()">
                                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                </div>
                            </div>

                            <div class="row" *ngIf="show1">

                                <div class="form-check w-100" *ngFor="let i of metdat">
                                    <label class="cbox"> {{i.Country}}
                                        <input class="form-check-input" [checked]=" isSelected(i.Country)" (change)="onChange(i.Country)" type="checkbox" value="{{i.Country}}" id="defaultCheck" #f formControlName="name" name="topicgroup">
                                        <span class="checkmark mt-1"></span>
                                    </label>
                                </div>

                            </div>

                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="exampleInputEmail1">
                                        <strong>Business Segment</strong>
                                    </label>
                                </div>

                                <div class="col-md-6" (click)="toggle2()">
                                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                </div>

                            </div>
                            <div class="row" *ngIf="show2">

                                <div class="form-check w-100" *ngFor="let i of metdat">
                                    <label class="cbox"> {{i.BusinessSegment}}
                                        <input class="form-check-input" [checked]="isSelected1(i.BusinessSegment)" (change)="onChange1(i.BusinessSegment)" type="checkbox" value="{{i.BusinessSegment}}" id="defaultCheck1" #f1 formControlName="name" name="topicgroup">
                                        <span class="checkmark mt-1"></span>
                                    </label>
                                </div>

                            </div>

                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="exampleInputEmail1">
                                        <strong>Brand</strong>
                                    </label>
                                </div>

                                <div class="col-md-6" (click)="toggle3()">
                                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                </div>

                            </div>
                            <div class="row" *ngIf="show3">
                                <div class="form-check w-100" *ngFor="let i of metdat">
                                    <label class="cbox"> {{i.Brand}}
                                        <input class="form-check-input" [checked]=" isSelected2(i.Brand)" (change)="onChange2(i.Brand)" type="checkbox" value="{{i.Brand}}" id="defaultCheck2" #f2 formControlName="name" name="topicgroup">
                                        <span class="checkmark mt-1"></span>
                                    </label>
                                </div>
                            </div>

                        </div>
                        
                        <!-- <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="exampleInputEmail1">
                                        <strong>Assets</strong>
                                    </label>
                                </div>

                                <div class="col-md-6">
                                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                </div>

                            </div>
                            <div class="row" *ngIf="true">
                                <div class="form-check w-100" *ngFor="let i of asset">
                                    <label class="cbox"> {{i}}
                                        <input class="form-check-input" [checked]=" isSelecteda(i)" (change)="onChangea(i)" type="checkbox" value="{{i}}" id="defaultCheck2" #fa formControlName="name" name="topicgroup">
                                        <span class="checkmark mt-1"></span>
                                    </label>
                                </div>
                            </div>

                        </div> -->
                        
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="exampleInputEmail1">
                                        <strong>Request Owner</strong>
                                    </label>
                                </div>

                                <div class="col-md-6" (click)="toggle4()">
                                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                </div>

                            </div>
                            <div class="row ml-4" *ngIf="show4">

                            </div>

                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="exampleInputEmail1">
                                        <strong>Content Owner</strong>
                                    </label>
                                </div>

                                <div class="col-md-6">
                                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                </div>

                            </div>

                        </div>
                       
                     
                        <!-- <div class="form-group">
                                <label for="exampleInputEmail1">
                                    <strong>Expiry Date </strong>
                                </label>

                            </div> -->
                    </form>
                </div>

                <div class="col-lg-9" *ngIf="imgshow2">
                    <div class="row pt-3 mt-2" *ngIf="grid3">
                        <div class="card col-lg-3 mx-3 py-2  mt-3 sizee" *ngFor="let q of filt">
                            <div class="row" *ngIf="check(q)=='imgg'">

                                <img class="card-img-top img-fluid" src="{{q}}" alt="Card image cap">

                                <div class="card-footer w-100">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <p> {{tempFunc(q)}} </p>
                                        </div>
                                        <div class="col-lg-4">
                                            <a routerLink="/open/{{func(q)}}">
                                                <i class="fa fa-external-link-square mx-2" aria-hidden="true" (click)="op(i.Filename)"></i>
                                            </a>
                                            <a href="{{(q)}}" title="ImageName" download>
                                                <i class="fa fa-download float-right mt-1"></i>
                                            </a>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="video" *ngIf="check(q)=='vid' ">
                                <video controls width="100%" (click)="toggleVideo()" #videoPlayer>
                                    <source src="{{q}}" type="video/mp4" /> Browser not supported
                                </video>

                                <!-- <div class="card-footer">
                                        <i class="fa fa-download float-right"></i>
                                    </div> -->

                                <div class="card-footer w-100">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <p> {{cut(i.name)}} </p>
                                        </div>
                                        <div class="col-lg-5">
                                            <a routerLink="/open/{{func(q)}}">
                                                <i class="fa fa-external-link-square mx-2" aria-hidden="true" (click)="op(i.Filename)"></i>
                                            </a>
                                            <a href="{{(q)}}" title="ImageName" download>
                                                <i class="fa fa-download float-right mt-1"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="" *ngIf="check(q)=='pdf' ">

                                <img class="card-img-top img-fluid" src="../../../../assets/images/index.png" alt="Card image cap">
                                

                                <div class="card-footer w-100">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <p> {{cut(q)}} </p>
                                        </div>
                                        <div class="col-lg-5">
                                            <a routerLink="/open/{{func(q)}}">
                                                <i class="fa fa-external-link-square mx-2" aria-hidden="true" (click)="op(i.Filename)"></i>
                                            </a>
                                            <a href="{{(q)}}" title="ImageName" download>
                                                <i class="fa fa-download float-right mt-1"></i>
                                            </a>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="row pt-3 mt-2" *ngIf="grid2">
                        <div class="card col-lg-5 mx-3 py-2  mt-3 sizee" *ngFor="let q of filt">
                            <div class="row" *ngIf="check(q)=='imgg'">
                                <img class="card-img-top img-fluid" src="{{q}}" alt="Card image cap">

                              
                                <div class="card-footer w-100">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <p> {{tempFunc(q)}} </p>
                                        </div>
                                        <div class="col-lg-4">
                                            <a routerLink="/open/{{func(q)}}">
                                                <i class="fa fa-external-link-square mx-2" aria-hidden="true" (click)="op(i.Filename)"></i>
                                            </a>
                                            <a href="{{(q)}}" title="ImageName" download>
                                                <i class="fa fa-download float-right mt-1"></i>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="video" *ngIf="check(q)=='vid' ">
                                <video controls width="100%" (click)="toggleVideo()" #videoPlayer>
                                    <source src="{{q}}" type="video/mp4" /> Browser not supported
                                </video>

                                <div class="card-footer w-100">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <p> {{tempFunc(q)}} </p>
                                        </div>
                                        <div class="col-lg-5">
                                            <a routerLink="/open/{{func(q)}}">
                                                <i class="fa fa-external-link-square mx-2" aria-hidden="true" (click)="op(i.Filename)"></i>
                                            </a>
                                            <a href="{{(q)}}" title="ImageName" download>
                                                <i class="fa fa-download float-right mt-1"></i>
                                            </a>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="" *ngIf="check(q)=='pdf' ">

                                <img class="card-img-top img-fluid" src="../../../../assets/images/index.png" alt="Card image cap">

                                <div class="card-footer w-100">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <p> {{tempFunc(q)}} </p>
                                        </div>
                                        <div class="col-lg-5">
                                            <a routerLink="/open/{{func(q)}}">
                                                <i class="fa fa-external-link-square mx-2" aria-hidden="true" (click)="op(i.Filename)"></i>
                                            </a>
                                            <a href="{{(q)}}" title="ImageName" download>
                                                <i class="fa fa-download float-right mt-1"></i>

                                            </a>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-lg-9" *ngIf="imgshow1">
                    <div class="row pt-3 mt-2" *ngIf="grid3">
                        <div class="card col-lg-3 mx-3 py-2  mt-3 sizee" *ngFor="let i of metdat">
                            <div class="row" *ngIf="check(i.Filename)=='imgg'">
                                <img class="card-img-top img-fluid" src="{{i.Filename}}" alt="Card image cap">

                                <div class="card-footer w-100">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <p> {{i.name}} </p>
                                        </div>
                                        <div class="col-lg-4">
                                            <a routerLink="/open/{{func(i.Filename)}}">
                                                <i class="fa fa-external-link-square mx-2" aria-hidden="true" (click)="op(i.Filename)"></i>
                                            </a>

                                            <a href="{{(i.Filename)}}" title="ImageName" download>
                                                <i class="fa fa-download float-right mt-1"></i>

                                            </a>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="video" *ngIf="check(i.Filename)=='vid' ">
                                

                                <video controls width="100%" (click)="toggleVideo()" #videoPlayer>
                                    <source src="{{i.Filename}}" type="video/mp4" /> Browser not supported
                                </video>

                                <div class="card-footer w-100">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <p> {{i.name}} </p>
                                        </div>
                                        <div class="col-lg-5">
                                            <a routerLink="/open/{{func(i.Filename)}}">
                                                <i class="fa fa-external-link-square mx-2" aria-hidden="true" (click)="op(i.Filename)"></i>
                                            </a>

                                            <a href="{{(i.Filename)}}" title="ImageName" download>
                                                <i class="fa fa-download float-right mt-1"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="" *ngIf="check(i.Filename)=='pdf' ">

                                <img class="card-img-top img-fluid" src="../../../../assets/images/index.png" alt="Card image cap">

                                <div class="card-footer  w-100">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <p> {{cut(i.Filename)}}</p>
                                        </div>
                                        <div class="col-lg-5">
                                            <a routerLink="/open/{{func(i.Filename)}}">
                                                <i class="fa fa-external-link-square mx-2" aria-hidden="true" (click)="op(i.Filename)"></i>
                                            </a>

                                            <a href="{{(i.Filename)}}" title="ImageName" download>
                                                <i class="fa fa-download float-right mt-1"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="row pt-3 mt-2" *ngIf="grid2">
                        <div class="card col-lg-5 mx-3 py-2  mt-3 sizee" *ngFor="let i of metdat">
                            <div class="row" *ngIf="check(i.Filename)=='imgg'">

                                <img class="card-img-top img-fluid" src="{{i.Filename}}" alt="Card image cap">

                                <div class="card-footer  w-100">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <p> {{i.name}} </p>
                                        </div>
                                        <div class="col-lg-4">
                                            <a routerLink="/open/{{func(i.Filename)}}">
                                                <i class="fa fa-external-link-square mx-2" aria-hidden="true" (click)="op(i.Filename)"></i>
                                            </a>

                                            <a href="{{(i.Filename)}}" title="ImageName" download>
                                                <i class="fa fa-download float-right mt-1"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="video" *ngIf="check(i.Filename)=='vid' ">
                                <video controls width="100%" (click)="toggleVideo()" #videoPlayer>
                                    <source src="{{i.Filename}}" type="video/mp4" /> Browser not supported
                                </video>

                                <div class="card-footer  w-100">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <p> {{i.name}} </p>
                                        </div>
                                        <div class="col-lg-5">
                                            <a routerLink="/open/{{func(i.Filename)}}">
                                                <i class="fa fa-external-link-square mx-2" aria-hidden="true" (click)="op(i.Filename)"></i>
                                            </a>

                                            <a href="{{(i.Filename)}}" title="ImageName" download>
                                                <i class="fa fa-download float-right mt-1"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="" *ngIf="check(i.Filename)=='pdf' ">

                                <img class="card-img-top img-fluid" src="../../../../assets/images/index.png" alt="Card image cap">

                                <div class="card-footer  w-100">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <p> {{cut(i.Filename)}} </p>
                                        </div>
                                        <div class="col-lg-5">
                                            <a routerLink="/open/{{func(i.Filename)}}">
                                                <i class="fa fa-external-link-square mx-2" aria-hidden="true" (click)="op(i.Filename)"></i>
                                            </a>

                                            <a href="{{(i.Filename)}}" title="ImageName" download>
                                                <i class="fa fa-download float-right mt-1"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-lg-9" *ngIf="imgshow">
                    <div class="row pt-3 mt-2 " *ngIf="grid3">
                        <div class="card col-lg-3 mx-3 py-2  mt-3 sizee" *ngFor="let i of filters">
                            <div class="row" *ngIf="check(i)=='imgg'">
                                <img class="card-img-top img-fluid" src="{{i}}" alt="Card image cap">

                                <div class="card-footer w-100">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <p> {{tempFunc(i)}} </p>
                                        </div>
                                        <div class="col-lg-4">
                                            <a routerLink="/open/{{func(i)}}">
                                                <i class="fa fa-external-link-square mx-2" aria-hidden="true" (click)="op(i.Filename)"></i>
                                            </a>
                                            <a href="{{(i)}}" title="ImageName" download>
                                                <i class="fa fa-download float-right mt-1"></i>
                                            </a>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="video" *ngIf="check(i)=='vid' ">
                                <video controls width="100%" (click)="toggleVideo()" #videoPlayer>
                                    <source src="{{i}}" type="video/mp4" /> Browser not supported
                                </video>

                                <div class="card-footer w-100">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <p> {{tempFunc(i)}} </p>
                                        </div>
                                        <div class="col-lg-5">
                                            <a routerLink="/open/{{func(i)}}">
                                                <i class="fa fa-external-link-square mx-2" aria-hidden="true" (click)="op(i.Filename)"></i>
                                            </a>
                                            <a href="{{(i)}}" title="ImageName" download>
                                                <i class="fa fa-download float-right mt-1"></i>
                                            </a>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="" *ngIf="check(i)=='pdf' ">

                                <img class="card-img-top img-fluid" src="../../../../assets/images/index.png" alt="Card image cap">

                                <div class="card-footer w-100">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <p> {{cut(i.Filename)}} </p>
                                        </div>
                                        <div class="col-lg-4">
                                            <a routerLink="/open/{{func(i)}}">
                                                <i class="fa fa-external-link-square mx-2" aria-hidden="true" (click)="op(i.Filename)"></i>
                                            </a>
                                            <a href="{{(i.Filename)}}" title="ImageName" download>
                                                <i class="fa fa-download float-right mt-1"></i>
                                            </a>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="row pt-3 mt-2 " *ngIf="grid2">
                        <div class="card col-lg-5 mx-3 py-2  mt-3 sizee" *ngFor="let i of filters">
                            <div class="row" *ngIf="check(i)=='imgg'">
                                <img class="card-img-top img-fluid" src="{{i}}" alt="Card image cap">

                                <div class="card-footer w-100">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <p> {{tempFunc(i)}} </p>
                                        </div>
                                        <div class="col-lg-4">
                                            <a routerLink="/open/{{func(i)}}">
                                                <i class="fa fa-external-link-square mx-2" aria-hidden="true" (click)="op(i.Filename)"></i>
                                            </a>
                                            <a href="{{(i)}}" title="ImageName" download>
                                                <i class="fa fa-download float-right mt-1"></i>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="video" *ngIf="check(i)=='vid' ">
                                <video controls width="100%" (click)="toggleVideo()" #videoPlayer>
                                    <source src="{{i}}" type="video/mp4" /> Browser not supported
                                </video>

                                <div class="card-footer w-100">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <p> {{tempFunc(i)}} </p>
                                        </div>
                                        <div class="col-lg-5">
                                            <a routerLink="/open/{{func(i)}}">
                                                <i class="fa fa-external-link-square mx-2" aria-hidden="true" (click)="op(i.Filename)"></i>
                                            </a>
                                            <a href="{{(i)}}" title="ImageName" download>
                                                <i class="fa fa-download float-right mt-1"></i>
                                            </a>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="" *ngIf="check(i)=='pdf' ">

                                <img class="card-img-top img-fluid" src="../../../../assets/images/index.png" alt="Card image cap">

                                <div class="card-footer w-100">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <p> {{cut(i.Filename)}} </p>
                                        </div>
                                        <div class="col-lg-4">
                                            <a routerLink="/open/{{func(i)}}">
                                                <i class="fa fa-external-link-square mx-2" aria-hidden="true" (click)="op(i.Filename)"></i>
                                            </a>
                                            <a href="{{(i.Filename)}}" title="ImageName" download>
                                                <i class="fa fa-download float-right mt-1"></i>
                                            </a>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

</body>