

<body>
    <div class="container-fluid">
        <div class="container">
            <div class="row ">
                <div class="col-lg-3 col-sm-12 logo_img bg-white py-5 logIn">
                    <div class="row text-center">
                        <div class="col-lg-12 mb-3">
                            <a href="">
                                <img src="../../../../assets/images/acheron logo.png" style="width:100px;height:100px;" class="border rounded-circle">
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 mx-auto">
                            <form name="loginForm" #myForm="ngForm" (ngSubmit)="onLoginSubmit(myForm)">
                                <div class="form-group">
                                    <label for="exampleInputEmail1"><b>Email address</b></label>
                                       <input type="email" class="form-control" id="exampleInputEmail1" ngModel name="email" required aria-describedby="emailHelp"
                                        placeholder="Enter email" #myEmail="ngModel" >
                                    <div *ngIf="myEmail.dirty && myEmail.errors && myEmail.errors?.required" class="text-danger">This Field is required</div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1"><b>Password</b></label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" ngModel name="password" required placeholder="Password">
                                    <div *ngIf="myEmail.dirty && myEmail.errors && myEmail.errors?.required" class="text-danger">This Field is required</div>

                                </div>
                                <div class="row py-2">
                                    <div class="col-lg-12">
                                        <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid" >Login</button>


                                        <button class="btn btn-secondary mr-3 float-right text-white" (click)='register()'>Register</button>

                                    </div>
                                </div>
                                <div class="form-group text-danger" *ngIf="logs"><h2>Login failed</h2></div>
                            </form>




                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>