/* *{
    box-sizing: border-box;
}

body{
    background-color: #100349;
    height: 100vh !important;
}

input[type="email"],input[type="password"],
.form {
  background: transparent;
  border: none;
  border-bottom: 1px solid ;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}


.logIn{
    position: absolute;
    top:10%;
    left:37%;
} */

*{
    box-sizing: border-box;
}

body{
    background-color: #100349;
    height: 662px !important;
}

input[type="email"],input[type="password"],
.form {
  background: transparent;
  border: none;
  border-bottom: 1px solid ;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}


.logIn{
    position: absolute;
    top:10%;
    left:37%;
}
@media only screen and (min-device-width:300px) and (max-device-width:568px) {
    .window{
        width: 100%;
    }
	.logIn{
        position: absolute;
    top: 0%;
    left: 0%
    }
}

@media only screen and (min-device-width:568px) and (max-device-width: 992px) {
    .window{
        width:70%;
    }
	.logIn{
    position: absolute;
    top: 10%;
    left: 15%
    }
}
