<div class="container-fluid text-dark bg-dark">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand logo" href="#">
            <img src="../assets/images/acheron logo.png" class="border rounded-circle  mr-3" style="width: 50px;height: 50px;">
            <strong>Published Media</strong>
        </a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav col-lg-10">
                <li></li>
            </ul>

            <ul class="navbar-nav ">
                <li class="nav-item">
                    <img src="../../assets/images/user.svg" style="width:100px;height:50px;" class="img-fluid user" (click)="toggleShow()">
                </li>                   
                <li class="nav-item" *ngIf="show">
                            <div class="row">
                                    <a class=" ml-3" id="logOut" routerLink=''>{{q}}</a>
                                    <a class=" ml-3" id="logOut" routerLink='/login'>Log Out</a>
                            </div> 
                    </li>
            </ul>
        </div>
    </nav>

</div>
<div class="container">
  <div class="row">
          <div class="col-lg-5 mx-auto py-3">
              <form [formGroup]="angForm" novalidate #myForm="ngForm">
                  <div class="form-group">
                      <label>Country:</label>
                      <input type="text" placeholder="Country Name...." class="form-control" formControlName="Country" #Country>
                  </div>
                  <div *ngIf="angForm.controls['Country'].invalid && (angForm.controls['Country'].dirty || angForm.controls['Country'].touched)" class="alert alert-danger">
                      <div *ngIf="angForm.controls['Country'].errors.required">
                      Country is required.
                      </div>
                    </div>
                  <div class="form-group">
                      <label>Business Segment:</label>
                      <input type="text" placeholder="Business Segment ...." class="form-control" formControlName="BusinessSegment" #BusinessSegment >
                  </div>
                  <div *ngIf="angForm.controls['BusinessSegment'].invalid && (angForm.controls['BusinessSegment'].dirty || angForm.controls['BusinessSegment'].touched)" class="alert alert-danger">
                      <div *ngIf="angForm.controls['BusinessSegment'].errors.required">
                        Business Segment is required.
                      </div>
                    </div>
                  <div class="form-group">
                      <label>Brand:</label>
                      <input type="text" placeholder="Brand...."  class="form-control" formControlName="Brand" #Brand>
                  </div>
                  <div *ngIf="angForm.controls['Brand'].invalid && (angForm.controls['Brand'].dirty || angForm.controls['Brand'].touched)" class="alert alert-danger">
                      <div *ngIf="angForm.controls['Brand'].errors.required">
                      Brand is required.
                      </div>
                    </div>
               
                  <div class="form-group">
                          <label>File Upload:</label>
                          <input type="file" placeholder="File Upload...."  class="form-control" (change)="onChange($event)" >
                          <!-- <input  type="file" ngf-select ng-model="file" name="file" 
                          ngf-pattern="'image/*'"accept="image/*" ngf-max-size="20MB"  /> -->
                      </div>
                      <!-- formControlName="Filename" #Filename -->
                       <!-- <div *ngIf="angForm.controls['Filename'].invalid && (angForm.controls['Filename'].dirty || angForm.controls[''].touched)" class="alert alert-danger">
                          <div *ngIf="angForm.controls['Filename'].errors.required">
                         Filename is required.
                          </div>
                        </div>  -->
                      
                   
      
                  <button class="btn btn-warning" (click)="addmetadata(Country.value,BusinessSegment.value,Brand.value)" (click)="up()" [disabled]="myForm.invalid">Upload</button>
              </form>
      
          </div>
      </div>
</div>
