/* *{
    box-sizing: border-box;
}

body{
    background-color: #100349;
    height: 100vh;
}

input[type="email"],input[type="password"],input[type="text"],
.form {
  background: transparent;
  border: none;
  border-bottom: 1px solid ;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
} */

*{
    box-sizing: border-box;
}

body{
    background-color: #100349;
    height: 662px;
}

input[type="email"],input[type="password"],input[type="text"],
.form {
  background: transparent;
  border: none;
  border-bottom: 1px solid ;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  /* color: white; */
}
.reg{
    position: absolute;
    top:10%;
    left:37%;
}
@media only screen and (min-device-width:300px) and (max-device-width:568px) {
    .regwindow{
        width: 100%;
    }
	.reg{
        position: absolute;
    top: 0%;
    left: 0%
    }
}

@media only screen and (min-device-width:568px) and (max-device-width: 992px) {
    .regwindow{
        width:70%;
    }
	.reg{
    position: absolute;
    top: 10%;
    left: 15%
    }
}