

    <body>
            <div class="col-lg-4 pt-4 mx-auto text-dark bg-light reg regwindow">
                
                    <form [formGroup]="angForm" novalidate>
                    <div class="form-group px-3">
                        <div class="col-lg-12">
                            <h4 class=" py-2 px-2  text-center">
                                <i class="fa fa-lock ml-2"></i> Registration Form </h4>
                        </div>
                    </div>
        
                    <div class="form-group">
                        <label class="col-md-4"> <strong>Name</strong></label>
                        <input type="text" class="form-control" formControlName="Username" #Username  placeholder="Enter Name..."/>
                    </div>
        
                    <div class="form-group">
                        <label class="col-md-4"><strong>Email</strong></label>
                        <input type="text" class="form-control" formControlName="Email" #Email placeholder="Enter Email..."/>
                    </div>
        
                    <div class="form-group">
                        <label class="col-md-4"><strong>Password</strong></label>
                        <input type="text" class="form-control" formControlName="Password" #Password placeholder="Enter Password..."/>
                    </div>
        
                    <div class="form-group">
                        <label class="col-md-4"><strong>Mobile</strong></label>
                        <input type="text" class="form-control" formControlName="Mobile" #Mobile placeholder="Enter Mobile..."/>
                    </div>
                    <div class="form-group col-lg-8 mx-auto">
                        <button (click)="addCoin(Username.value, Email.value,Password.value,Mobile.value)" [disabled]="angForm.pristine || angForm.invalid"
                            class="btn btn-info btn-block text-white">Register</button>
                    </div>
                </form>
            </div>
            </body>